<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link href="../static/css/output.css" rel="stylesheet" />
  </head>
  <body class="h-screen flex justify-center items-center bg-gray-100">
    <div class="w-full max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg">
      <h1 class="text-3xl font-bold text-center mb-6">URL Shortener</h1>
      <form
        hx-post="/shorten-url"
        hx-target="#url-response"
        hx-swap="innerHTML"
        class="space-y-4"
      >
        <input
          class="w-full border border-gray-300 rounded p-3 text-lg"
          type="url"
          name="url"
          placeholder="Enter your URL here"
          required
        />
        <button
          type="submit"
          class="w-full bg-blue-500 text-white rounded p-3 text-lg hover:bg-blue-600"
        >
          Shorten URL
        </button>
      </form>
      <div id="url-response" class="mt-6"></div>
    </div>
  </body>
</html>
